h1 a {
    color: #FF4100;
	font-family: 'Gravitas One', cursive;
	font-weight: 800;
	font-variant: small-caps;
	margin-left: 0px;
}
.page-header {
    background-color: #00204F;
    margin-top: 0;
    padding: 20px 20px 80px 40px;
}

.page-header h1, .page-header h1 a, .page-header h1 a:visited, .page-header h1 a:active {
    color: #FFFFFF;
    font-size: 36pt;
    text-decoration: none;
}

.content {
    margin-left: 40px;
	font-family: 'Neucha', cursive;
	font-size: 12pt;
	font-weight: 400;
}

h1, h2, h3, h4 {
    font-family: "Neucha", cursive;
}

.date {
    float: right;
    color: #828282;
	margin-right: 0px;
}

.save {
    float: right;
}

.post-form textarea, .post-form input {
    width: 100%;
}

.top-menu, .top-menu:hover, .top-menu:visited {
    color: 	#FF1F35;
    float: right;
    font-size: 26pt;
    margin-right: 10px;
	margin-top: 25px;
}

.post {
    margin-bottom: 70px;
	margin-left: 0px;
	width: 950px;
}

.post h1 a, .post h1 a:visited {
    color: #00204F;
	font-family: 'Neucha', cursive;
	font-weight: 800;
	font-variant: none;
	margin-left: 0px;
}
.img {
	margin-left: 10px;
	margin-top: -20px;
}
.img, .page-header h1 a {
	float: left;
}